package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * Company:     b2c哎呦商城
 * Department:  研发一组
 * Title:       [aiyou — ${entity}模块]
 * Description: [${entity}类信息的controller层接口]
 * Created on:  ${date}
 * Contacts:    [who.seek.me@java98k.vip]
 * @version     V1.1.0
 * @author      ${author}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
#end
