package ${package.Mapper};

import ${package.Entity}.${entity};
import com.sw.qc.declare.dto.${entity}DTO;
import com.sw.qc.declare.vo.${entity}VO;
import ${superMapperClassPackage};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;

import java.util.List;

/**
 * Company:     b2c哎呦商城
 * Department:  研发一组
 * Title:       [smart-customer-hotline — ${entity} 模块]
 * Description: [${entity} 类信息的Mapper持久层接口]
 * Created on:  ${date}
 * Contacts:    [who.seek.me@java98k.vip]
 * @version     V1.1.0
 * @author      ${author}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
@Repository
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

    /**
     * Description:[单表分页查询]
     * @param ${table.entityPath}DTO  [实体]
     * @param page  [分页参数]
     * @return  List<${entity}>
     * @date ${date}
     * @author      ${author}
     */
	List<${entity}VO> selectPageWith${entity}DTO(Page page,@Param(value = "params") ${entity}DTO ${table.entityPath}DTO);
}
#end
