package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.plugins.Page;
import com.baomidou.mybatisplus.mapper.EntityWrapper;

/**
 * Company:     b2c哎呦商城
 * Department:  研发一组
 * Title:       [aiyou — ${entity}模块]
 * Description: [${entity}类信息的service层实现类]
 * Created on:  ${date}
 * Contacts:    [who.seek.me@java98k.vip]
 * @version     V1.1.0
 * @author      ${author}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    @Override
    public Page<${entity}> selectPageWithParam(Page<${entity}> page,${entity} param){
		EntityWrapper<${entity}> entityWrapper = new EntityWrapper<>(param);
		Page<${entity}> page${entity} = selectPage(page,entityWrapper);
		return  page${entity};
    }
}
